@import '../../mixins';

.exchange-footer {
  height: 100%;
  padding: 0 .3rem;
  @include displayFlex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-family: "PingFang SC";
}

.left {
  .num {
    color: #ff5050;
    font-size: .48rem;
    margin-right: .09rem;
  }
  .normal {
    color: #464646;
    font-size: .24rem;
  }
  .points {
    text-decoration: line-through;
    color: #bcbcbc;
    margin-left: .27rem;
  }
  .notEnough {
    font-size: .3rem;
    color: #464646;
  }
}

.right {
  width: 2.16rem;
  height: .88rem;
  border-radius: .04rem;
  background-color: #12c286;
  font-size: .3rem;
  color: white;
  @include displayFlex;
  justify-content: center;
  align-items: center;
}