@import '../../../mixins';
.counter {
  @include displayFlex;
  border: 1px solid transparent;
}
.decreaser {
  width: .44rem;
  height: .44rem;
  background: #464646;
  color: white;
  @include displayFlex;
  justify-content: center;
  align-items: center;
  font-size: .35rem;
  span {
    position: relative;
  }
}

.input {
  border: 2px solid #464646;
  width: .44rem;
  //height: .44rem;
  margin: 0 .2rem;
  @include displayFlex;
  justify-content: center;
  align-items: center;
  font-size: .28rem;
  .num {
    @include displayFlex;
    justify-content: center;
    align-items: center;
  }
}
.increaser {
  @extend .decreaser;
}