@import '../../mixins';

.deduction-bar {
  font-family: "PingFang SC";
  font-size: 0.26rem;
  color: #464646;
}
.container {
  @include displayFlex;

}
.text {
  @include displayFlex;
  flex: 1;
  justify-content: space-between;
}

.left {
  div:first-child {
    margin-bottom: .03rem;
  }
}

.right {
  @extend .left;
  margin-right: .22rem;
  text-align: right;
}
.times {
  color: #12c286;
}
.lighter {
  color: #909090;
  font-size: .22rem;
}
.checkmark {
  @include displayFlex;
  img {
    width: .34rem;
    height: .34rem;
  }
  align-items: center;
}