@import '../../../mixins';
.tip {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include displayFlex;
  justify-content: center;
  align-items: center;
}
.content {
  color: white;
  background: rgba(0,0,0,.7);
  display: inline-block;
  padding: .15rem 15px;
  border-radius: 7px;
}

:global {
  .tip-content-appear {
    opacity: 0.01;
  }

  .tip-content-appear.tip-content-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .tip-content-enter {
    opacity: 0.01;
  }

  .tip-content-enter.tip-content-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .tip-content-leave {
    opacity: 1;
  }

  .tip-content-leave.tip-content-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}