@import '../../mixins';
.address-summary {
  padding: .28rem;
  background: white;
  font-family: "PingFang SC";
  @include displayFlex;
}
.left {
  width: .45rem;
  img {
    width: 100%;
  }
  margin-right: .14rem;
  @include displayFlex;
  align-items: center;
}

.middle {
  flex: 1;
  margin-right: .13rem;
  .name-phone {
    font-size: .28rem;
    font-weight: 500;
    color: #464646;
    margin-bottom: .16rem;
  }
  .addr {
    font-size: .24rem;
    font-weight: normal;
  }
}

.right {
  @include displayFlex;
  align-items: center;
  img {
    width: .26rem;
  }
}