@import '../../mixins';
.price-audit {
  color: #464646;
}
.total {
  @include displayFlex;
  justify-content: space-between;
  align-items: center;
}
.left {
  font-size: .26rem;
}
.jifen {
  color: #ff5050;
  font-size: .36rem;
  margin-right: .06rem;
}
.right {
  font-size: .22rem;
  @include displayFlex;
  align-items: center;
}