@import '../../mixins';

.product-list {
  padding: .3rem;
}
.line {
  //border: 1px solid red;
  @include displayFlex;
  justify-content: space-between;
  margin-bottom: .3rem;
  & > * {
    flex: 1;
    &:first-child {
      margin-right: .28rem;
    }
  }
}