<template>
  <picker class="picker" v-model="display" :data-items="items" @change="onAddressChange"
          style="position: fixed; bottom: 0">
    <div class="picker-top-content" slot="top-content">
      <div class="cancel-btn" @click="display = false">
        <span>取消</span>
      </div>
      <div class="confirm-btn" @click="onUserConfirm">
        <span>完成</span>
      </div>
    </div>
  </picker>
</template>

<script>
  import Picker from 'vue-3d-picker';
  import provinces from '../../utils/addresses.json';

  export default {
    components: { Picker },
    props: {
      onConfirm: {
        type: Function,
        default: () => {
        }
      },
      visible: {
        type: Number,
        default: 0
      },
      onDismiss: {
        type: Function,
        default: () => {}
      }
    },
    data() {
      return {
        display: false,
        province: '',
        city: '',
        county: '',
        items: [
          {
            name: 'provinceName',
            width: '33%',
            values: provinces
          },
          {
            name: 'cityName',
            width: '33%',
            values: provinces[0].cities
          },
          {
            name: 'countyName',
            width: '34%',
            values: provinces[0].cities[0].counties
          }
        ]
      };
    },
    mounted() {
      this.display = this.visible > 0;
    },
    watch: {
      visible: function (v) {
        this.display = v > 0;
      },
    },
    methods: {
      onAddressChange(province, city, county, v4, v5) {
        this.items[1].values = province.cities;
        this.items[2].values = city.counties;
        this.province = province;
        this.city = city;
        this.county = county || {};
      },
      onUserConfirm() {
        this.display = false;
        this.onConfirm(this.province, this.city, this.county);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .picker-top-content {
    border-bottom: 1px solid #adb0a7;
    padding: 0 0 0 0;
    font-size: .3rem;
    color: #12c287;
    display: flex;
    & > * {
      display: block;
    }
    justify-content: space-between;
    .cancel-btn {
      margin-left: 15px;
      padding: 10px 0;
    }
    .confirm-btn {
      margin-right: 15px;
      padding: 10px 0;
    }
  }
</style>

