@import '../../mixins';

.address-card {
  background: white;
  padding: .28rem;
}

.top {
  font-size: .24rem;
  color: #464646;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: .31rem;
  word-break: break-word;
  h4 {
    margin-top: 0;
    margin-bottom: .06rem;
  }
  margin-bottom: .19rem;
}

.bottom {
  color: #909090;
  @include displayFlex;
  font-size: .24rem;
  justify-content: space-between;
}

.left {
  @include displayFlex;
  align-items: center;
  img {
    width: .26rem;
    margin-right: .09rem;
  }
}

.right {
  @include displayFlex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  .iconed-text:first-of-type {
    margin-right: .46rem;
  }
}