@import '../../mixins';

.addaddressentry {
  @include displayFlex;
  justify-content: space-between;
  padding: .38rem .28rem;
  background: white;
}

.left {
  @include displayFlex;
  align-items: center;
  flex-direction: row;
  img {
    width: .38rem;
    margin-right: .14rem;
  }
  span {
    align-self: flex-end;
    font-family: "PingFang SC";
    font-size: .28rem;
    color: #464646;
  }
}

.right {
  @extend .left;
  img {
    width: .26rem;
    margin-right: 0;
  }
}