@import '../../mixins';
.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,.7);
  @include displayFlex;
  justify-content: center;
  align-items: center;
  font-family: "PingFang SC";
}

