@import '../../mixins';
.amount-chooser {
  background: white;
  padding: .3rem;
  font-size: .26rem;
  font-family: "PingFang SC";
}

.preview {
  @include displayFlex;
  margin-bottom: .3rem;
  .image {
    width: 1.8rem;
    height: 1.8rem;
    background-color: #f5f5f5;
    @include displayFlex;
    justify-content: center;
    align-items: center;
    margin-right: .3rem;
    img {
      width: 100%;
    }
  }
  .detail {
    padding-top: .1rem;
    color: #464646;
    .title {
      font-size: .26rem;
      margin-bottom: .57rem;
      color: #464646;
    }
    .jifen {
      .num {
        font-size: .36rem;
        margin-right: .12rem;
        font-weight: 500;
      }
      .jifenText {
        font-size: .2rem;
      }
    }
  }
}
.dividor {
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  margin-bottom: .32rem;
}
.amount-handler {
  @include displayFlex;
  .amountText {
    font-size: .26rem;
  }
  justify-content: space-between;
  align-items: center;
}