@import '../../mixins';

.price-detail {
  font-weight: 500;
  font-family: "PingFang SC";
  background: white;
  padding: .3rem;
}

.title {
  color: #464646;
  font-size: .3rem;
  padding-bottom: .2rem;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: .3rem;
}

.prices {
  color: #464646;
  @include displayFlex;
  align-items: baseline;
  .desc {
    color: #464646;
  }
  .jifen {
    .num {
      font-size: .48rem;
      margin-right: .09rem;
    }
    .jifenText {
      font-size: .24rem;
    }
  }
}

.normal {
  .jifen {
    color: #12c286;
  }
  flex: 1;
}

.vertical-bar {
  width: .02rem;
  height: .48rem;
  background-color: #f2f2f2;
  align-self: center;
}
.vip {
  flex: 1;
  margin-left: .3rem;
  .jifen {

  }

  .desc {

  }

  .extra-text {
    color: #f88352;
  }
}