@import '../../mixins';
.success {
  text-align: center;
  font-family: "PingFang SC";
  img {
    width: 1.52rem;
  }
  p {
    margin: 0;
    padding: 0;
  }
  background: rgb(242, 242, 242);
  height: 100vh;
}
.container {
  padding-top: .9rem;
  padding-bottom: .38rem;
  background: white;
}
.success-text {
  color: #464646;
  margin-bottom: .14rem;
  font-size: .3rem;
}
.button-section {
  width: 100%;
  @include displayFlex;
  justify-content: center;
  align-items: center;
  padding-left: .38rem;
  padding-right: .38rem;
}
.btn {
  flex: 1;
}
.grayText {
  color: #909090;
  font-size: .24rem;
}
p.blueText {
  color: #12c287;
  font-size: .24rem;
  margin-bottom: 1.18rem;
}