@import '../../../mixins';
.button {
  border-radius: .08rem;
  width: 85%;
  height: .88rem;
  font-family: "PingFang SC";
  font-size: .32rem;
  color: #12c287;
  font-weight: 500;
  margin: auto;
  @include displayFlex;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.buttonContentWrapper {
  display: inline-block;
}