@import '../../mixins';
.exchange-confirm {
  background-color: #eff0f4;
  height: 100vh;
}

.input-section {
  margin-bottom: .15rem;
}

.tip {
  font-size: .24rem;
  color: #909090;
  padding: .22rem .3rem;

}

.btn {
  height: 100%;
  @include displayFlex;
  align-items: center;
}