@import '../../mixins';

.custom-input {
  color: #464646;
  @include displayFlex;
  align-items: center;
}

.image {
  width: .47rem;
  @include displayFlex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.input {
  flex: 1;
  @include displayFlex;
  align-items: center;
  input {
    width: 100%;
    border: none;
    appearance: none;
    box-shadow: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #bcbcbc;
      font-size: .28rem;
    }
  }
}