.notice {
  border: none;
  width: 85%;
  background: white;
  border-radius: .1rem;
}

.title {
  border: none;
  margin: 0;
  padding: .2rem 0;
  padding-top: .28rem;
  text-align: center;
  font-size: .35rem;
}

.content {
  border-bottom: 1px solid rgb(225, 225, 227);
  padding: 0 .3rem;
  padding-bottom: .32rem;
  font-size: .29rem;
  color: rgb(126, 126, 126);
  margin: 0;
  line-height: .5rem;
}

.footer {
  text-align: center;
  padding: .15rem 0;
  color: rgb(13, 190, 0);
  font-size: .31rem;
}