@import '../../mixins';

.product-item {
  @include displayFlex;
  flex-direction: column;
  background: white;
  overflow-wrap: break-word;
  text-align: center;
  padding-bottom: .15rem;
  .img-section {
    height: 3.3rem;
    background-color: #f5f5f5;
    background: white;
    margin-bottom: 0rem;
    @include displayFlex;
    justify-content: center;
    align-items: center;
    img {
      //border: 1px solid red;
      width: 2.5rem;
    }
  }
  font-size: .26rem;
  .desc {
    color: #464646;
    margin-bottom: .22rem;
  }
  .jifen {
    color: #12c286;
    @include displayFlex;
    justify-content: center;
    align-items: flex-end;
    //flex: 1;
    .special {
      @include displayFlex;
      align-items: center;
      margin-left: .3rem;
      color: #bf9251;
      font-size: .2rem;
      img {
        width: .2rem;
        margin-right: 4px;
      }
    }
    .member {
      background: #12c286;
      color: white;
      margin-left: 5px;
      font-size: .16rem;
    }
  }
}