@import '../../mixins';
.add-address {
  height: 100vh;
  font-family: "PingFang SC";
  background: rgb(242, 242, 242);
  font-size: .28rem;
  .input-line {
    @include displayFlex;
    justify-content: space-between;
    align-items: center;
    color: #464646;
  }
  .region {
    //border: 1px solid blue;
    flex: 1;
    color: #bcbcbc;
    @include displayFlex;
    justify-content: space-between;
    align-items: center;
    img {
      width: .25rem;
    }
  }
  .label {
    width: 1.8rem;
  }
  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: .28rem;
    &::placeholder {
      color: #bcbcbc;
    }
  }
}

.setDefault {
  margin-top: .12rem;
  margin-bottom: .68rem;
}
.label {
  font-size: .28rem;
  color: #464646;
}