@import '../../../mixins';
.iconed-text {
  font-family: "PingFang SC";
  @include displayFlex;
  align-items: center;
  flex-direction: row;
  img {
    width: .28rem;
    margin-right: 5px;
  }
  font-size: .24rem;
  color: #909090;
}