:global {
  html {
    height: 100vh;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden;
  }
  .ant-switch:before, .ant-switch:after {
    transition: all .36s ease !important;
  }
  .ant-switch-checked {
    background-color: #4fd262 !important;
  }
  .control-dots {
    padding-left: 0;
  }
}
