@import '../../mixins';

.product-detail {
  font-family: "PingFang SC";
  background: #f5f5f5;
  padding-bottom: 1.8rem;
}
.top {
  background: white;
  margin-bottom: .14rem;
}
.bottom {
  background: white;
  img {
    width: 100%;
    margin-bottom: 0;
  }
  .detailText {
    margin: auto;
    margin-bottom: .4rem;
    padding-top: .4rem;
    @include displayFlex;
    justify-content: center;
    align-items: center;
    color: #464646;
    font-size: .25rem;
    .line {
      display: block;
      width: .85rem;
      border-top-width: 1px;
      border-top-color: #f5f5f5;
      border-top-style: solid;
      background: black;
      margin: 0 10px;
    }
  }
}
.banner {
  min-height: 5.2rem;
  background: #f5f5f5;
  @include displayFlex;
  justify-content: center;
  align-items: center;
  .singleImg {
    width: 4.98rem;
  }
}
.detail {
  border: 1px solid transparent;
  padding: 0 .28rem;
  padding-bottom: .5rem;
  h3 {
    margin: .22rem 0;
    margin-bottom: .14rem;
    font-size: .32rem;
    color: #464646;
    font-weight: 500;
    font-family: "PingFang SC";
  }
  p {
    color: #ff5050;
    margin: 0;
  }
  .jifenValue {
    font-size: .4rem;
    margin-right: 3px;
  }
  .jifenText {
    font-size: .24rem;
  }
  .vipbar {
    border-radius: .02rem;
    margin-top: .26rem;
    padding: .24rem .18rem;
    background: #f9f6f1;
    @include displayFlex;
    justify-content: space-between;
    .left {
      font-size: .26rem;
      color: #bf9251;
      font-weight: 500;
      @include displayFlex;
      align-items: center;
      img {
        width: .33rem;
        margin-right: 4px;
      }
    }
    .right {
      @include displayFlex;
      align-items: center;
      color: #bf9251;
      font-size: .22rem;
      opacity: .7;
      img {
        width: .23rem;
        margin-left: 4px;
      }
    }
  }
}
.images {
  border: 1px solid green;
}