@import '../../../mixins';
.confirmation {
  border: none;
  width: 70%;
  background: white;
  border-radius: .1rem;
}

.title {
  border: none;
  margin: 0;
  padding: .2rem 0;
  text-align: center;
  font-size: .35rem;
  color: rgb(89, 89, 89);
}

.content {
  text-align: center;
  color: black;
  border-bottom: 1px solid rgb(225, 225, 227);
  padding: 0 .3rem;
  padding-bottom: .32rem;
  font-size: .29rem;
  margin: 0;
  line-height: .5rem;
}

.footer {
  text-align: center;
  padding: 0;
  color: rgb(13, 190, 0);
  font-size: .31rem;
  @include displayFlex;
  .btn {
    flex: 1;
    padding: .15rem 0;
    &:first-child {
      border-right: 1px solid rgb(225, 225, 227);
    }
  }
}