@import '../../mixins.scss';

@mixin triangle($borderWidth: 6.4px, $borderColor: #464646) {
  .triangle {
    margin-left: 4.5px;
    border-color: $borderColor transparent transparent transparent;
    border-width: $borderWidth;
    border-style: solid;
    width: 0px;
    height: 0px;
    transform: rotate(-90deg);
  }
}

.v1 {
  background: url(../../assets/images/v1bg.png);
}

.v2 {
  background: url(../../assets/images/v2bg.png);
}

.v3 {
  background: url(../../assets/images/v3bg.png);
}

.banner {
  color: white;
  //background: url(../../assets/images/v1bg.png);
  background-size: 100% 100%;
  font-size: .24rem;
  padding: .42rem .3rem;
  .normal {
    margin-bottom: .12rem;
    font-size: .24rem;
  }

  .amount {
    font-size: .48rem;
    margin-bottom: .5rem;
    .normal {
      margin-left: .18rem;
    }
    @include triangle(4.2px, white);
    .triangle {
      display: inline-block;
    }
  }

  .bottom {
    @include displayFlex();
    justify-content: space-between;
    .left {
      border: 1px solid transparent;
      @include displayFlex;
      align-items: center;
    }
    img {
      width: .26rem;
      margin-left: 4px;
    }
  }

  .myorder {
    position: absolute;
    right: 0px;
    top: .5rem;
    width: (91.5 * 2 - 2) rem;
    height: (34.5 * 2 - 2) rem;
    background-color: white;
    opacity: 0.6;
    border-radius: 0;
    border-top-left-radius: 58rem;
    border-bottom-left-radius: 58rem;
    padding: .12rem .15rem .12rem .35rem;
    font-size: .26rem;
    font-weight: 500;
    color: #464646;
    @include displayFlex;
    align-items: center;
    @include triangle;
  }

}